// Top-bar
$top-bar-vertical-margins: 40px;
$giles-logo-height-small: 20px;
$giles-logo-height-large: 40px;

// Temp values
$topbar-height: rem-calc(45);

// Typography widths;
$max-type-width: 35em;

// Giles palette
$new-black: #111111;
$india-ink: $new-black;
$giles-purple: #314665;
$green-sea: #1abc9c;
$giles-hidden-grey: #eee;
$error-pink: #FF9494;
$giles-sketch-orange: rgb(223, 111, 63);

// Giles selected colours
$giles-primary: $giles-purple;
$giles-push-menu-bkg: white;